@model MeDirectMicroservice.Models.ExchangeTrade

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ExchangeTrade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AmountToTrade" class="control-label"></label>
                <input asp-for="AmountToTrade" class="form-control" />
                <span asp-validation-for="AmountToTrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyFrom" class="control-label"></label>
                @Html.DropDownList("CurrencyFrom", new SelectList(ViewBag.symbols))
                <span asp-validation-for="CurrencyFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyTo" class="control-label"></label>
                <div class="col-md-10">
                    @Html.DropDownList("CurrencyTo", new SelectList(ViewBag.symbols))
                </div>
                <!--
                foreach (var item in ViewBag.symbols)

                {
                    <div> item.CurrencySymbol </div>
                }-->

                <!--<input asp-for="CurrencyTo" class="form-control" />-->
                <span asp-validation-for="CurrencyTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
